/* Global */
body {
	font-family: 'Raleway', sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	margin: 0 10%;
}
.strong { /* Mot en gras */
	font-weight: bold;
}
/* Nav */
.list-nav {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2.5rem 0;
}
.nav-link {
	padding: 3.3rem 2rem 0 2rem ;
}
.nav-link:hover {
	border-top: solid 3px;
	border-top-color: #0065FC;
	color: #0065FC;
}
.nav-register {
	padding-left: 2rem;
	font-weight: bold;
	color: #0065FC;
}

/* Recherche */
.search h1 {
	padding-bottom: 1rem;
	font-size: 1.2rem;
}
.search-p {
	padding-bottom: 1rem;
}
.search-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding-bottom: 2rem;
}
.search-gps {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	background-color: #F2F2F2;
	border-radius: 1.5rem 0 0 1.5rem;
	height: 4rem;
	width: 4rem;
}
.search-container input {
	height: 4rem;
	border-left: 0;
	border-right: 0;
	border-top: 2px solid #F2F2F2;
	border-bottom: 2px solid #F2F2F2;
	padding-left: 12px;
	font-weight: bold;
	font-size: 15px;
}
.search-container button {
	height: 4rem;
	width: 7rem;
	font-weight: bold;
	color: white;
	background-color: #0065FC;
	border-radius: 0 1.5rem 1.5rem 0;
	border: none;
}
.search-icon {
	display: none;
}
/* Filtres */
.filter {
	display: flex;
	flex-flow: row wrap; /* = flex-direction + flex-wrap */
	padding-bottom: 1rem;
}

.filter h2 {
	margin: 0 2rem 1rem 0;
	display: flex;
	align-items: center;
}
.filter-container {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	margin-right: 2rem;
	border: 2px solid #F2F2F2;
	border-radius: 2rem;
	margin-bottom: 1rem;
	font-weight: bold;
	background-color: white;
	cursor: pointer;
}
.filter-container:hover {
	background-color: #F2F2F2;
	transform: scale(1.05);
}
.filter-icon {
	background-color: #DEEBFF;
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
	min-height: 3.5rem;
	min-width: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
}
.filter i {
	color: #0065FC;
}
.filter-title {
	margin: 0 1.5rem;
	font-size: 17px;
}

/* Information */
.information {
	display: flex; /* Defini en temps que boîte flexible*/
	align-items: center; /* Défini l'alignement d'un objet dans son conteneur */
	margin-bottom: 2rem;
}
.information-item {
	height: 2rem;
	width: 2rem;
	min-width: 2rem;
	min-height: 2rem;
	border: solid 1px #F2F2F2;
	border-radius: 100%;  /* Permet de faire un cercle */
	display: flex;
	align-items: center;
	justify-content: center; /* Façon dont l'espace est réparti entre les éléments */
	margin-right: 1rem;
}
.information i {
	color: #0065FC;
}

/* Hébergement */
.hebergement-a-marseille, .les-plus-populaires{
	background-color: #F2F2F2;
	border-radius: 1.5rem;
	padding: 2rem;
}
.hebergements {
	display: grid; /* Défini en grille */
	column-gap: 2rem; /* Espace entre deux colonnes */
	grid-template-columns: 2fr 1fr; /* Proportion du tableau */
}
.hebergement-a-marseille h2 {
	padding-bottom: 1rem;
}
.fa-star--activate {
	color: #0065FC;
}
.rating {
	color: #b1b1b1;
}

/* Hébergement à Marseille */

.hebergement-cartes{
	display: grid; /* Défini en grille */
	column-gap: 2rem; /* Espace entre deux colonnes */
	grid-template-columns: repeat(3, 1fr); /* Proportion du tableau */
	grid-row-gap: 2rem; /* Espace entre deux lignes*/
}
.hebergement-carte-item {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px #a1a1a1;
	border-radius: 1.5rem;
	padding: 0.2rem;
	background-color: white;
}
.hebergement-carte-item a:hover {
	transform: scale(1.02);
}
.hebergement-carte-item img {
	height: 7rem;
	object-fit: cover; /* Permet d'ajuster l'image pour conserver ses proportions */
	max-width: 100%;
	width: 100%;
	border-radius: 1.5rem 1.5rem 0 0;
}
.hebergement-carte-item-contain {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 90px;
	padding: 0 0 0 15px;
}
.view-more-link {
	font-weight: bold;
}

/* Populaire */

.populaire-cartes {
	display: grid;
	align-items: start;
	grid-row-gap: 2rem;
}
.populaire-carte-item {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px #a1a1a1;
	border-radius: 1.5rem;
	padding: 0.2rem;
	background-color: white;
}
.populaire-carte-item img {
	height: 9rem;
	object-fit: cover;
	width: 33%;
	min-width: 33%;
	max-width: 33%;
	border-radius: 1.5rem 0 0 1.5rem;
}
.populaire-carte-item-contain {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem 1.5rem 0.5rem 1.6rem;
}
.populaire-carte-item a {
	display: flex;
	align-items: stretch;
	height: 100%;
	overflow: auto;
}
.populaire-carte-item a:hover {
	transform: scale(1.02);
}
.populaire-white-place {
	flex: 1;
}
.populaire-carte-item-contain h3 {
	margin: 0.5rem 0.5rem 2px 0.5rem;
}
.populaire-carte-item-contain p {
	margin: 0rem 0.5rem 0;
}
.populaire-carte-item-contain .rating {
	margin: 0rem 0.5rem 0.2rem;
}
.populaire-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
}
.populaire-title i {
	font-size: 2rem;
}

.activities-title {
	font-size: 1.5rem;
	padding: 0px 0 1rem 0;
	margin-top: 3rem;
}
.marseille_activities {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2rem;
}
.activities-card:hover {
	transform: scale(1.01);
}
   .marseille_activities .vp {
	text-decoration-line: none;
	color: black;
	width: 22%;
	border-radius: 20px;
	box-shadow: 1.5px 1.5px 1.5px 1.5px #F2F2F2;
	border: 2px solid #F2F2F2;
}

   .marseille_activities h3 {
	padding-left: 10px;
}

   .vieux_port img {
	width: 100%;
	height: 35vw;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
   }

   .pomegues_frioul {
	width: 22%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
   }

   .pomegues_frioul .po {
	width: 100%;
	height: 55%;
	text-decoration-line: none;
	color: black;
	border-radius: 20px;
	box-shadow: 1.5px 1.5px 1.5px 1.5px #F2F2F2;
	border: 2px solid #F2F2F2;
}
   .pomegues {
	height: 100%;
   }

   .pomegues_frioul .fri {
	width: 100%;
	height: 35%;
	text-decoration-line: none;
	color: black;
	border-radius: 20px;
	box-shadow: 1.5px 1.5px 1.5px 1.5px #F2F2F2;
	border: 2px solid #F2F2F2;
   }

   .frioul {
	height: 100%;
   }

   .pomegues img {
	width: 100%;
	height: 17vw;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
   }

   .frioul img {
	width: 100%;
	height: 9vw;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
   }

   .cal {
	width: 22%;
	text-decoration-line: none;
	color: black;
	border-radius: 20px;
	box-shadow: 1.5px 1.5px 1.5px 1.5px #F2F2F2;
	border: 2px solid #F2F2F2;
   }

   .calanques img {
	width: 100%;
	height: 35vw;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
   }

   .notredame_longchamp {
	width: 22%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
   }

   .notredame_longchamp .nd {
	width: 100%;
	height: 48%;
	text-decoration-line: none;
	color: black;
	border-radius: 20px;
	box-shadow: 1.5px 1.5px 1.5px 1.5px #F2F2F2;
	border: 2px solid #F2F2F2;
   }

   .notredame {
	height: 100%;
   }

.notredame_longchamp .lo {
	width: 100%;
	height: 48%;
	text-decoration-line: none;
	color: black;
	border-radius: 20px;
	box-shadow: 1.5px 1.5px 1.5px 1.5px #F2F2F2;
	border: 2px solid #F2F2F2;
}

.longchamp {
	height: 100%;
}

.notredame img {
	width: 100%;
	height: 14vw;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}
.longchamp img {
	width: 100%;
	height: 14vw;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

/* Footer */
.footer {
	max-width: 100%;
	background-color: #F2F2F2;
}
.footercontain {
	display: flex;
	max-width: 100%;
	width: 90%;
	margin: auto;
	box-sizing: border-box;
	padding: 0 2rem;
	justify-content: space-around;
}
.footercolumn {
	width: 30%;
	padding: 2rem 2rem;
}
.footertitle {
	font-weight: bold;
}
.footerlink {
	display: block;
	margin: 5% 0;
}

/* Ecran Iphone 8 */
@media screen and (min-width: 375px) and (max-width: 767px) {
	.container {
		margin: unset;
	}
	/* Header */
	.search {
		margin: 31px;
	}
	.nav img {
		padding: 1.5rem 1.5rem;
	}
	.nav {
		padding: unset;
		position: relative;
		display: block;
		padding-bottom: 1rem;
	}
	.nav li:last-child {
		position: absolute;
		top: 2.6rem;
		right: 1.2rem;
	}
	.nav ul {
		justify-content: space-around;

	}
	.nav-link:nth-child(1), .nav-link:nth-child(2) {
		border-top: none;
		border-bottom: 2px solid #F2F2F2;
	}
	.nav-link:hover {
		border-top: none;
		border-bottom: 2px solid #0065FC;
	}
	.nav-link {
		padding: 1rem 3.14rem;
	}
	.nav-register {
		padding-left: unset;
		font-weight: bold;
		color: #0065FC;
	}
	.search h1 {
		font-size: 1.4rem;
		padding-bottom: 0.8rem;
	}
	.search-p {
		padding-bottom: 1.5rem;
	}
	.search-icon {
		display: flex;
		border-top-right-radius: 1.5rem;
		border-bottom-right-radius: 1.5rem;
		border-top: 2px solid #F2F2F2;
		border-bottom: 2px solid #F2F2F2;
	}
	.search-icon i {
		color: white;
		background-color: #0065FC;
		height: 61px;
		width: 61px;
		font-weight: bold;
		border-radius: 1.5rem;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.button {
		display: none;
	}
	.information {
		margin: 0 0 2rem 1rem;
	}
	.filter h2 {
		width: 100%;
	}
	.filter-title {
		margin: 0 1rem;
	}
	.filter-container {
		margin-right: 1rem;
	}

	/* Hébergement */
	.hebergements {
		grid-template-columns: unset;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		gap: 1rem;
	}
	.hebergement-a-marseille {
		background-color: unset;
	}
	.hebergement-a-marseille, .les-plus-populaires {
		border-radius: unset;
		padding: 2rem 1rem;
	}
	.hebergement-a-marseille h2 {
		font-size: 1.5rem;
	}
	.hebergement-cartes {
		display: flex;
		flex-flow: column nowrap;
	}
	.les-plus-populaires {
		order: -1;
	}
	.populaire-carte-item-contain {
		padding: 0.5rem 1rem 0.5rem 1.6rem;
	}

	/* Activité à Marseille */

	.activities-title {
		padding: unset;
		margin: 0 5% 0 5%;
		padding-bottom: 1rem;
	}
	.marseille_activities {
        flex-direction: column;
        height: 100%;
		align-items: center;
		padding-bottom: unset;
    }
    .title_activities {
        margin: 0 0 0 18px;
    }
    .marseille_activities .vp {
        width: 90%;
        margin-bottom: 25px;
    }
    .pomegues_frioul {
        width: 90%;
        margin-bottom: 25px;
    }
    .po {
        margin-bottom: 25px;
    }
    .cal {
        width: 90%;
        margin-bottom: 25px;
    }
    .notredame_longchamp {
        width: 90%;
        margin-bottom: 25px;
    }
    .nd {
        margin-bottom: 25px;
    }
    .marseille_activities img {
        height: 35vw;
    }
    .marseille_activities h3 {
        padding-left: 10px;
    }

	/* Footer */
	.footercontain {
		flex-flow: column nowrap;
		margin: unset;
		padding: 2rem 0;
	}
	.footercolumn {
		width: unset;
		padding: 1rem 2rem;
	}
}

/* Ecran Tablette */
@media screen and (min-width: 768px) and (max-width: 1000px) {
	.container {
		margin: unset;
	}

	/* Header */
	.search {
		margin: 31px;
	}
	.nav img {
		padding: 1.5rem 1.5rem;
	}
	.nav {
		padding: unset;
		position: relative;
		display: block;
		padding-bottom: 1rem;
	}
	.nav li:last-child {
		position: absolute;
		top: 2.6rem;
		right: 2rem;
	}
	.nav ul {
		justify-content: space-around;

	}
	.nav-link:nth-child(1), .nav-link:nth-child(2) {
		border-top: none;
		border-bottom: 2px solid #F2F2F2;
	}
	.nav-link:hover {
		border-top: none;
		border-bottom: 2px solid #0065FC;
	}
	.nav-link {
		padding: 1rem 9.28rem;
	}
	.nav-register {
		padding-left: unset;
		font-weight: bold;
		color: #0065FC;
	}
	.search h1 {
		font-size: 1.4rem;
		padding-bottom: 0.8rem;
	}
	.search-p {
		padding-bottom: 1.5rem;
	}
	.filter h2 {
		width: 100%;
	}
	.filter-title {
		margin: 0 1rem;
	}
	.filter-container {
		margin-right: 15%;
	}

	/* Hébergement */
	.hebergements {
		grid-template-columns: unset;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		gap: unset;
	}
	.hebergement-a-marseille {
		border-radius: 0 0 1.5rem 1.5rem;
	}
	.les-plus-populaires {
		order: -1;
		border-radius: 1.5rem 1.5rem 0 0;
	}
	.populaire-cartes{
		display: grid; /* Défini en grille */
		column-gap: 2rem; /* Espace entre deux colonnes */
		grid-template-columns: repeat(3, 1fr); /* Proportion du tableau */
		grid-row-gap: 2rem; /* Espace entre deux lignes*/
	}
	.populaire-carte-item {
		display: flex;
		flex-direction: column;
		box-shadow: 0px 0px 10px #a1a1a1;
		border-radius: 1.5rem;
		padding: 0.2rem;
		background-color: white;
	}
	.populaire-carte-item img {
		height: 10rem;
		object-fit: cover; /* Permet d'ajuster l'image pour conserver ses proportions */
		max-width: 100%;
		width: 100%;
		border-radius: 1.5rem 1.5rem 0 0;
	}
	.populaire-carte-item-contain {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-height: 90px;
		padding: 0 0 0 15px;
		height: 7rem;
	}
	.populaire-carte-item a {
		display: unset;
		align-items: unset;
		height: unset;
		overflow: unset;
	}
	.populaire-white-place {
		display: unset;
	}

	/* Activité */
	.activities-title {
		margin: 0 5% 0 5%;
		padding-top: 1.5rem;
	}
	.marseille_activities {
		display: flex;
		flex-direction: column;
	}
	.marseille_activities img {
		height: 15rem;
	}
	.marseille_activities .vp, .pomegues_frioul, .cal, .notredame_longchamp {
		width: 100%;
	}
	.vp, .po, .fri, .cal, .nd, .lo {
		padding-top: 1.5rem;
	}
}

/* Ecran Tablette 2 */
@media screen and (min-width: 1001px) and (max-width: 1279px) {
	.container {
		margin: unset;
	}

	/* Nav */
	header {
		margin: 0 5%;
	}
	.filter h2 {
		width: 100%;
	}
	.filter-title {
		margin: 0 1rem;
	}
	.filter-container {
		margin-right: 20%;
	}

	/* Hébergement */
	.hebergements {
		grid-template-columns: unset;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		gap: unset;
	}
	.hebergement-a-marseille {
		border-radius: 0 0 1.5rem 1.5rem;
	}
	.les-plus-populaires {
		order: -1;
		border-radius: 1.5rem 1.5rem 0 0;
	}
	.populaire-cartes{
		display: grid; /* Défini en grille */
		column-gap: 2rem; /* Espace entre deux colonnes */
		grid-template-columns: repeat(3, 1fr); /* Proportion du tableau */
		grid-row-gap: 2rem; /* Espace entre deux lignes*/
	}
	.populaire-carte-item {
		display: flex;
		flex-direction: column;
		box-shadow: 0px 0px 10px #a1a1a1;
		border-radius: 1.5rem;
		padding: 0.2rem;
		background-color: white;
	}
	.populaire-carte-item img {
		height: 7rem;
		object-fit: cover; /* Permet d'ajuster l'image pour conserver ses proportions */
		width: 100%;
		border-radius: 1.5rem 1.5rem 0 0;
		min-width: 100%;
		max-width: unset;
	}
	.populaire-carte-item-contain {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-height: 90px;
		padding: 0 0 0 15px;
		height: 7rem;
	}
	.populaire-carte-item a {
		display: unset;
		align-items: unset;
		overflow: unset;
	}
	.populaire-white-place {
		flex: unset;
	}

	/* Activité */

	.marseille_activities {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .marseille_activities img {
        height: 35vw;
    }
    .marseille_activities .vp {
        width: 95%;
        margin-bottom: 20px;
    }
    .pomegues_frioul {
        width: 95%;
        margin-bottom: 20px;
    }
    .po {
        margin-bottom: 20px;
    }
    .cal {
        width: 95%;
        margin-bottom: 20px;
    }
    .notredame_longchamp {
        width: 95%;
    }
    .nd {
        margin-bottom: 20px;
    }
}

/* Légère modification pour les filtres */
@media screen and (min-width: 1280px) and (max-width: 1329px) {
	.filter-container {
		margin-right: 1rem;
	}
}
