/* Global */
body {
	font-family: 'Raleway', sans-serif;
	margin: 0 15%;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* Nav */
.list-nav {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2.5rem 0;
}
.nav-link {
	padding: 3.3rem 2rem 0 2rem ;
}
.nav-link:hover {
	border-top: solid 3px;
	border-top-color: #0065FC;
	color: #0065FC;
}
.nav-register {
	padding-left: 2rem;
	font-weight: bold;
	color: #0065FC;
}
/* Recherche */
.search h1 {
	padding-bottom: 1rem;
	font-size: 1.2rem;
}
.search-p {
	padding-bottom: 1rem;
	font-size: ; /* à finir */
}
.search-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding-bottom: 2rem;
}
.search-container i {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	background-color: #F2F2F2;
	border-radius: 1.5rem 0 0 1.5rem;
	height: 4rem;
	width: 4rem;
}
.search-container input {
	height: 4rem;
	border-left: 0;
	border-right: 0;
	border-top: 2px solid #F2F2F2;
	border-bottom: 2px solid #F2F2F2;
	padding-left: 12px;
	font-weight: bold;
	font-size: 15px;
}
.search-container button {
	height: 4rem;
	width: 7rem;
	font-size: ;
	font-weight: bold;
	color: white;
	background-color: #0065FC;
	border-radius: 0 1.5rem 1.5rem 0;
	border: none;
}

/* Filtres */
.filter {
	display: flex;
	flex-flow: row wrap; /* = flex-direction + flex-wrap */
	padding-bottom: 1rem;
}

.filter h2 {
	margin: 0 2rem 1rem 0;
	display: flex;
	align-items: center;
}
.filter-container {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	margin-right: 2rem;
	border: 2px solid #F2F2F2;
	border-radius: 2rem;
	margin-bottom: 1rem;
	font-weight: bold;
	background-color: white;
	cursor: pointer;
}
.filter-container:hover {
	background-color: #F2F2F2
}
.filter-icon {
	background-color: #DEEBFF;
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
	min-height: 3.5rem;
	min-width: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
}
.filter i {
	color: #0065FC;
}
.filter-title {
	margin: 0 1rem;
}

/* Information */
.information {
	display: flex; /* Defini en temps que boîte flexible*/
	align-items: center; /* Défini l'alignement d'un objet dans son conteneur */
	margin-bottom: 2rem; 
}
.information-item {
	height: 2rem;
	width: 2rem;
	min-width: 2rem;
	min-height: 2rem;
	border: solid 1px #F2F2F2;
	border-radius: 100%;  /* Permet de faire un cercle */
	display: flex;
	align-items: center;
	justify-content: center; /* Façon dont l'espace est réparti entre les éléments */
	margin-right: 1rem;
}
.information i {
	color: #0065FC;
}

/* Hébergement */
.hebergement-a-marseille, .les-plus-populaires{
	background-color: #F2F2F2;
	border-radius: 1.5rem;
	padding: 2rem;
}
.hebergements {
	display: grid; /* Défini en grille */
	column-gap: 2rem; /* Espace entre deux colonnes */
	grid-template-columns: 2fr 1fr; /* Proportion du tableau */ 
}
.hebergements h2 {
 padding-bottom: 1rem;
}

/* Hébergement à Marseille */ 

.hebergement-cartes{
	display: grid; /* Défini en grille */
	column-gap: 2rem; /* Espace entre deux colonnes */
	grid-template-columns: repeat(3, 1fr); /* Proportion du tableau */ 
	grid-row-gap: 2rem /* Espace entre deux lignes*/
}
.hebergement-carte-item {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px #a1a1a1;
	border-radius: 1.5rem;
	padding: 0.2rem;
	background-color: white;
}
.hebergement-carte-item a:hover {
	transform: scale(1.02);
}
.hebergement-carte-item img {
	height: 7rem;
	object-fit: cover; /* Permet d'ajuster l'image pour conserver ses proportions */
	max-width: 100%;
	width: 100%;
	border-radius: 1.5rem 1.5rem 0 0;
}
.hebergement-carte-item-contain {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 90px;
	padding: 0 0 0 15px;
}
.fa-star--activate {
	color: #0065FC;
}
.rating {
	color: #b1b1b1;
}

/* Populaire */

.populaire-cartes {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-row-gap: 2rem;
}
.populaire-carte-item {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px #a1a1a1;
	border-radius: 1.5rem;
	padding: 0.2rem; 
	justify-content: column;
	background-color: white;
}
.populaire-carte-item img {
	height: 9rem;
	object-fit: cover;
	width: 33%;
	border-radius: 1.5rem 1.5rem 0 0;
}
.populaire-carte-item-contain {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 90px;
	padding: 0 0 0 15px;
}

/* Footer */ 
.footer {
	max-width: 100%; 
	background-color: #F2F2F2;
}
.footercontaint {
	display: flex;
	max-width: 100%;
	width: 70%;
	margin: auto;
	box-sizing: border-box;
	padding: 0 2rem;
}
.footercolumn {
	width: 30%;
	padding: 2rem 2rem;
}
.footertitle {
	font-weight: bold;
}
.footerlink {
	display: block;
	margin: 5% 0;
}